solutions/HNZControlledDocumentsTemp/Workflows/CreateWorkArea-BULK-9E817989-CE7B-EF11-AC21-6045BD40281F.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline-3": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cap_sharedsharepointonline_5c086"
        },
        "runtimeSource": "invoker"
      },
      "shared_sharepointonline-2": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_925e0"
        },
        "runtimeSource": "invoker"
      },
      "shared_sharepointonline-1": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cap_ConDocSPO"
        },
        "runtimeSource": "invoker"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_55683"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "348bc69b-2a44-402d-aac5-164aaa3ecae5"
          }
        }
      },
      "actions": {
        "Get_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
              "table": "e0df1008-187e-45ce-b28f-c806a15003bc",
              "$filter": "(TransitionImport eq 'Yes' ) and (Work_x0020_Area_x0020_Created eq false)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline-3"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2f3ed4bb-f18b-4987-bd12-583d52dd54f5"
          }
        },
        "For_each": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Get_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                  "table": "e0df1008-187e-45ce-b28f-c806a15003bc",
                  "id": "@items('For_each')?['ID']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItem",
                  "connectionName": "shared_sharepointonline-2"
                }
              },
              "metadata": {
                "operationMetadataId": "70310b50-f0bb-4959-9412-01a3842a16bc"
              }
            },
            "Switch": {
              "type": "Switch",
              "expression": "@variables('varRegion')",
              "default": {
                "actions": {}
              },
              "cases": {
                "Case_-_Aotearoa_-_National": {
                  "actions": {
                    "Create_new_document_set_-_Aotearoa_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "table": "f040dbf1-3b1c-4957-9e81-2b2225b9cea5",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{outputs('Get_item')?['body/ID']}",
                          "parameters/contentTypeId": "0x0120D52000E9D2BB1F78631F4490430EDCE6D2BBB0004104F8BE460A6845B716DCA50D06F475",
                          "parameters/DynamicProperties/HNZOwner/Claims": "@body('Get_item')?['Owner']?['Claims']",
                          "parameters/DynamicProperties/Authoriser/Claims": "@body('Get_item')?['Authoriser']?['Claims']",
                          "parameters/DynamicProperties/Facilitator/Claims": "@body('Get_item')?['Facilitator']?['Claims']",
                          "parameters/DynamicProperties/ExternalSourceName": "@body('Get_item')?['ExternalSourceName']",
                          "parameters/DynamicProperties/Facility": "@body('Get_item')?['Facility']",
                          "parameters/DynamicProperties/NationalID": "@body('Get_item')?['NationalID']",
                          "parameters/DynamicProperties/RegisterID": "@body('Get_item')?['ID']",
                          "parameters/DynamicProperties/Status/Value": "01 In Development"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewDocumentSet",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "d1a9426a-0d9a-41b1-a698-02eecb47db19"
                      }
                    },
                    "Update_item_in_Register_-_Aotearoa_-_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                          "table": "e0df1008-187e-45ce-b28f-c806a15003bc",
                          "id": "@body('Get_item')?['ID']",
                          "item/Title": "@body('Get_item')?['Title']",
                          "item/Link_x0020_to_x0020_Working_x002": "@body('Create_new_document_set_-_Aotearoa_National')?['{Link}']",
                          "item/Status/Value": "New Document",
                          "item/Work_x0020_Area_x0020_Created": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Condition_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07cd5518-9d12-44e4-a98a-1ff76f7798da"
                      }
                    },
                    "Create_Folder_'Correspondence'_-_Aotearoa_-_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "table": "f040dbf1-3b1c-4957-9e81-2b2225b9cea5",
                          "parameters/path": "@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/ID']}/Correspondence"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Implementation'_-_Aotearoa_-_National": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8e5fc5cb-5181-41c6-b4a1-dd7db2e25869"
                      }
                    },
                    "Create_Folder_'Consultation'_-_Aotearoa_-_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "table": "f040dbf1-3b1c-4957-9e81-2b2225b9cea5",
                          "parameters/path": "@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/ID']}/Correspondence/Consultation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Correspondence'_-_Aotearoa_-_National": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "92523169-20be-4d6e-ab22-09159622d7dc"
                      }
                    },
                    "Aotearoa_-_National_-_Break_Inheritance": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Aotearoa_National')?['ID']})/breakroleinheritance(copyRoleAssignments=false,clearSubscopes=true)\n"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_Document_Set_Metadata_-_Aotearoa_-_National": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "97127955-0dfe-4230-97a6-155996f62c7d"
                      }
                    },
                    "Update_Document_Set_Metadata_-_Aotearoa_-_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "table": "f040dbf1-3b1c-4957-9e81-2b2225b9cea5",
                          "id": "@body('Create_new_document_set_-_Aotearoa_National')?['ID']",
                          "item/HNZRegion": [
                            {
                              "Value": "@body('Get_item')?['HNZRegion']?['Value']"
                            }
                          ],
                          "item/HNZLocalArea": [
                            {
                              "Value": "@body('Get_item')?['Local_x0020_Area']?['Value']"
                            }
                          ],
                          "item/HNZDocumentType/Value": "@body('Get_item')?['Document_x0020_Type']?['Value']",
                          "item/HNZBusinessUnit/Value": "@body('Get_item')?['HNZBusinessUnit']?['Value']",
                          "item/Appliesto/Value": "@body('Get_item')?['Appliesto']?['Value']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchFileItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Create_new_document_set_-_Aotearoa_National": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "269eeeee-662c-40e8-89c6-7c8b935cfd64"
                      }
                    },
                    "Create_Folder_'Authorisations'_-_Aotearoa_-_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "table": "f040dbf1-3b1c-4957-9e81-2b2225b9cea5",
                          "parameters/path": "@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/ID']}/Correspondence/Authorisations"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Consultation'_-_Aotearoa_-_National": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c19c7885-bef0-45b9-9d8c-9ff6a1eda16c"
                      }
                    },
                    "Create_Folder_'Feedback'_-_Aotearoa_-_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "table": "f040dbf1-3b1c-4957-9e81-2b2225b9cea5",
                          "parameters/path": "@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/ID']}/Correspondence/Feedback"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Authorisations'_-_Aotearoa_-_National": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fa550ad3-c0fd-4434-8cd3-79a84d792384"
                      }
                    },
                    "Aotearoa_-_National_-_Get_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Owner']?['Email']}')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Condition_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "aedb9e61-4708-45d1-a8cf-ba044f8ad80d"
                      }
                    },
                    "Create_Folder_'Implementation'_-_Aotearoa_-_National": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "table": "f040dbf1-3b1c-4957-9e81-2b2225b9cea5",
                          "parameters/path": "@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/ID']}/Implementation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_item_in_Register_-_Aotearoa_-_National": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7625ebc6-7893-47e7-ad0f-8e4753f68178"
                      }
                    },
                    "Aotearoa_-_National_-_Grant_Permissions_-_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Aotearoa_National')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Aotearoa_-_National_-_Get_Owner')['d']['id']}, roleDefId =1073741830)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Aotearoa_-_National_-_Get_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b5ac5ea7-cecf-48da-ab25-82f64ad4d149"
                      }
                    },
                    "Condition": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Authoriser']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Aotearoa_-_National_-_Get_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Authoriser']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "c46d73d4-6ba9-48d7-994f-2f7eae5fd964"
                          }
                        },
                        "Aotearoa_-_National_-_Grant_Permissions_-_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Aotearoa_National')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Aotearoa_-_National_-_Get_Authoriser')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Aotearoa_-_National_-_Get_Authoriser": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c0f7bd2e-f1ec-483b-be96-de0acc31c511"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Aotearoa_-_National_-_Break_Inheritance": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bf25a6b1-6471-4a89-b43e-8508be9c0a22"
                      }
                    },
                    "Condition_1": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Facilitator']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Aotearoa_-_National_-_Get_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Facilitator']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "7e2f3ed1-70f7-4f69-9cdd-4d6f3425ccc7"
                          }
                        },
                        "Aotearoa_-_National_-_Grant_Permissions_-_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Aotearoa_National')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Aotearoa_-_National_-_Get_Facilitator')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Aotearoa_-_National_-_Get_Facilitator": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "9cc9bb3f-caae-45f5-87f5-865ea4532e00"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Condition": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "10243445-e269-4513-832e-cf6028c107e1"
                      }
                    },
                    "Condition_4": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['TransitionLibraryID']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Copy_file": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "parameters/sourceFileId": "@body('Get_file_properties')?['{Identifier}']",
                              "parameters/destinationDataset": "https://hauoraaotearoa.sharepoint.com/sites/1000576",
                              "parameters/destinationFolderPath": "/Shared Documents/@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                              "parameters/nameConflictBehavior": 1
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "CopyFileAsync",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "runAfter": {
                            "Get_file_properties": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ff852f37-0931-4b43-8c98-3b4c9feef0cb"
                          }
                        },
                        "Get_file_properties": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "table": "0b9c628a-e838-4da1-b903-6290239137cc",
                              "id": "@body('Get_item')?['TransitionLibraryID']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileItem",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "e5238fd5-76d4-41bf-b4c8-543e52dde131"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Aotearoa_-_National_-_Grant_Permissions_-_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f8b596a5-3438-431a-abdf-b6d4d19ace59"
                      }
                    }
                  },
                  "case": "Aotearoa - National"
                },
                "Case_2_-_Northern": {
                  "actions": {
                    "Create_new_document_set_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                          "parameters/contentTypeId": "0x0120D52000E9D2BB1F78631F4490430EDCE6D2BBB0009957D54A6C0FD948B09F830DDACB21DF",
                          "parameters/DynamicProperties/Status/Value": "01 In Development",
                          "parameters/DynamicProperties/HNZOwner/Claims": "@body('Get_item')?['Owner']?['Claims']",
                          "parameters/DynamicProperties/Authoriser/Claims": "@body('Get_item')?['Authoriser']?['Claims']",
                          "parameters/DynamicProperties/Facilitator/Claims": "@body('Get_item')?['Facilitator']?['Claims']",
                          "parameters/DynamicProperties/Facility": "@body('Get_item')?['Facility']",
                          "parameters/DynamicProperties/NationalID": "@body('Get_item')?['NationalID']",
                          "parameters/DynamicProperties/ExternalSourceName": "@body('Get_item')?['ExternalSourceName']",
                          "parameters/DynamicProperties/RegisterID": "@body('Get_item')?['ID']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewDocumentSet",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "ea335e64-22b1-42dc-b774-3876211ffeac"
                      }
                    },
                    "Update_Document_Set_Metadata_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "id": "@body('Create_new_document_set_-_Northern')?['ID']",
                          "item/HNZDocumentType/Value": "@body('Get_item')?['Document_x0020_Type']?['Value']",
                          "item/HNZRegion": [
                            {
                              "Value": "@body('Get_item')?['HNZRegion']?['Value']"
                            }
                          ],
                          "item/HNZLocalArea": [
                            {
                              "Value": "@body('Get_item')?['Local_x0020_Area']?['Value']"
                            }
                          ],
                          "item/HNZBusinessUnit/Value": "@body('Get_item')?['HNZBusinessUnit']?['Value']",
                          "item/Appliesto/Value": "@body('Get_item')?['Appliesto']?['Value']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchFileItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Create_new_document_set_-_Northern": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4f2394eb-0227-4ed1-a42c-fe75fff20fb8"
                      }
                    },
                    "Northern_-_Break_Inheritance": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Northern')?['ID']})/breakroleinheritance(copyRoleAssignments=false,clearSubscopes=true)\n"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_Document_Set_Metadata_-_Northern": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3227a52c-4be9-490d-88c6-15db6fdeeeda"
                      }
                    },
                    "Create_Folder_'Correspondence'_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Implementation'_-_Northern": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2d8bf243-5251-4b4c-9644-46deb74faf4d"
                      }
                    },
                    "Create_Folder_'Authorisations'_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Authorisations"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Consultation'_-_Northern": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6787c438-8ea6-41a8-933b-a60e9afa8d17"
                      }
                    },
                    "Create_Folder_'Feedback'_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Feedback"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Authorisations'_-_Northern": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f46e1a50-22df-40a0-b3ed-017cb1959f73"
                      }
                    },
                    "Update_item_in_Register_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                          "table": "e0df1008-187e-45ce-b28f-c806a15003bc",
                          "id": "@body('Get_item')?['ID']",
                          "item/Title": "@body('Get_item')?['Title']",
                          "item/Link_x0020_to_x0020_Working_x002": "@body('Create_new_document_set_-_Northern')?['{Link}']",
                          "item/Status/Value": "New Document",
                          "item/Work_x0020_Area_x0020_Created": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Condition_5": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07cd5518-9d12-44e4-a98a-1ff76f7798da"
                      }
                    },
                    "Create_Folder_'Consultation'_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Consultation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Correspondence'_-_Northern": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3ec363ea-fdc1-4a3c-a23b-69c412e83a9a"
                      }
                    },
                    "Northern_-_Get_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Owner']?['Email']}')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Condition_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d2ad7a6e-734c-4e7b-b8aa-feab3f5455c1"
                      }
                    },
                    "Northern_-_Grant_Permissions_-_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Northern')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Northern_-_Get_Owner')['d']['id']}, roleDefId =1073741830)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Northern_-_Get_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8c27724a-1b87-432e-a8af-d8ab70f22bb6"
                      }
                    },
                    "Create_Folder_'Implementation'_-_Northern": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Implementation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_item_in_Register_-_Northern": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0606e8df-6ed7-40b3-a381-1ad8f39513d5"
                      }
                    },
                    "Condition_2": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Authoriser']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Northern_-_Get_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Authoriser']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "cb292d96-d29e-4ef5-b528-2e81afa1be4f"
                          }
                        },
                        "Northern__-_Grant_Permissions_-_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Northern')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Northern_-_Get_Authoriser')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Northern_-_Get_Authoriser": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ae4efe34-a75e-4655-b903-657a28c5853f"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Northern_-_Break_Inheritance": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1804938b-005b-4234-b230-e6de3d5c5772"
                      }
                    },
                    "Condition_3": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Facilitator']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Northern_-_Get_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Facilitator']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "a20d442c-7f1c-4235-a482-b25a4b756f45"
                          }
                        },
                        "Northern_-_Grant_Permissions_-_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Northern')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Northern_-_Get_Facilitator')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Northern_-_Get_Facilitator": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "54fc239c-c67b-40ae-a910-e15492efdc45"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Condition_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "12cdcc03-c662-4971-916d-82c1886d9de3"
                      }
                    },
                    "Condition_5": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['TransitionLibraryID']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Copy_file_1": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "parameters/sourceFileId": "@body('Get_file_properties_1')?['{Identifier}']",
                              "parameters/destinationDataset": "https://hauoraaotearoa.sharepoint.com/sites/1000659",
                              "parameters/destinationFolderPath": "/Shared Documents/@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                              "parameters/nameConflictBehavior": 1
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "CopyFileAsync",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "runAfter": {
                            "Get_file_properties_1": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e2fa58af-e489-49e4-ad9c-469de8967c23"
                          }
                        },
                        "Get_file_properties_1": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "table": "1a851b65-b412-4e13-9494-32364f16515f",
                              "id": "@body('Get_item')?['TransitionLibraryID']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileItem",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "ba68e32d-f4b1-4dd0-bd2a-f08bd212ec20"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Northern_-_Grant_Permissions_-_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6a964ab3-21f6-4adf-aa79-a5efaae1ed4c"
                      }
                    }
                  },
                  "case": "Northern"
                },
                "Case_3_-_Te_Ikaroa_-_Central": {
                  "actions": {
                    "Create_new_document_set_-_Te_Ikaroa_-_Central": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                          "parameters/contentTypeId": "0x0120D52000E9D2BB1F78631F4490430EDCE6D2BBB00034F6E9C6463D0F4EAD70F6546531105E",
                          "parameters/DynamicProperties/Status/Value": "01 In Development",
                          "parameters/DynamicProperties/HNZOwner/Claims": "@body('Get_item')?['Owner']?['Claims']",
                          "parameters/DynamicProperties/NationalID": "@body('Get_item')?['NationalID']",
                          "parameters/DynamicProperties/Authoriser/Claims": "@body('Get_item')?['Authoriser']?['Claims']",
                          "parameters/DynamicProperties/Facilitator/Claims": "@body('Get_item')?['Facilitator']?['Claims']",
                          "parameters/DynamicProperties/ExternalSourceName": "@body('Get_item')?['ExternalSourceName']",
                          "parameters/DynamicProperties/Facility": "@body('Get_item')?['Facility']",
                          "parameters/DynamicProperties/RegisterID": "@body('Get_item')?['ID']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewDocumentSet",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "12842a61-0fcc-46e0-a165-f3dd011b4779"
                      }
                    },
                    "Update_Document_Set_Metadata_-_Te_Ikaroa_-_Central": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "id": "@body('Create_new_document_set_-_Te_Ikaroa_-_Central')?['ID']",
                          "item/HNZRegion": [
                            {
                              "Value": "@body('Get_item')?['HNZRegion']?['Value']"
                            }
                          ],
                          "item/HNZLocalArea": [
                            {
                              "Value": "@body('Get_item')?['Local_x0020_Area']?['Value']"
                            }
                          ],
                          "item/HNZDocumentType/Value": "@body('Get_item')?['Document_x0020_Type']?['Value']",
                          "item/HNZBusinessUnit/Value": "@body('Get_item')?['HNZBusinessUnit']?['Value']",
                          "item/Appliesto/Value": "@body('Get_item')?['Appliesto']?['Value']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchFileItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Create_new_document_set_-_Te_Ikaroa_-_Central": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f95bd9aa-1021-44d9-9868-79c3768a6379"
                      }
                    },
                    "Update_item_in_Register__-_Te_Ikaroa_-_Central": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                          "table": "e0df1008-187e-45ce-b28f-c806a15003bc",
                          "id": "@body('Get_item')?['ID']",
                          "item/Title": "@body('Get_item')?['Title']",
                          "item/Link_x0020_to_x0020_Working_x002": "@body('Create_new_document_set_-_Te_Ikaroa_-_Central')?['{Link}']",
                          "item/Status/Value": "New Document",
                          "item/Work_x0020_Area_x0020_Created": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Condition_6": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07cd5518-9d12-44e4-a98a-1ff76f7798da"
                      }
                    },
                    "Te_Ikaroa_-_Central_-_Break_Inheritance": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Ikaroa_-_Central')?['ID']})/breakroleinheritance(copyRoleAssignments=false,clearSubscopes=true)\n"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_Document_Set_Metadata_-_Te_Ikaroa_-_Central": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0b38a75e-fbda-4243-bac8-cfc6f919ed25"
                      }
                    },
                    "Te_Ikaroa_-_Central_-_Get_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Owner']?['Email']}')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Condition_3-copy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "56ac50ab-725e-4ced-9328-4a7e8d361d66"
                      }
                    },
                    "Te_Ikaroa_-_Central_-_Grant_Permissions_-_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Ikaroa_-_Central')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Ikaroa_-_Central_-_Get_Owner')['d']['id']}, roleDefId =1073741830)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Te_Ikaroa_-_Central_-_Get_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c7f0d89f-5c2c-4996-858d-a7512e3f508a"
                      }
                    },
                    "Create_Folder_'Correspondence'_-_Te_Ikaroa_-_Central": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Implementation'_-_Te_Ikaroa": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "231ffe32-4bc3-4bf0-98ac-ca90d2f0920e"
                      }
                    },
                    "Create_Folder_'Consultation'_-_Te_Ikaroa_-_Central": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Consultation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Correspondence'_-_Te_Ikaroa_-_Central": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "15197c63-997b-4172-8b79-f486d471e210"
                      }
                    },
                    "Create_Folder_'Authorisations'_-_Te_Ikaroa_-_Central": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Authorisations"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Consultation'_-_Te_Ikaroa_-_Central": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7451943d-ba83-417e-8944-6fd71d8a16e0"
                      }
                    },
                    "Create_Folder_'Feedback'_-_Te_Ikaroa_-_Central": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{outputs('Get_item')?['body/Title']} - @{outputs('Get_item')?['body/ID']}/Correspondence/Feedback"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Authorisations'_-_Te_Ikaroa_-_Central": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c7276abc-43c3-4e47-b965-b4da145d655e"
                      }
                    },
                    "Create_Folder_'Implementation'_-_Te_Ikaroa": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Implementation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_item_in_Register__-_Te_Ikaroa_-_Central": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c0fec513-03bb-4ef2-ad20-9ab88d546a1a"
                      }
                    },
                    "Condition_6": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['TransitionLibraryID']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Copy_file_2": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "parameters/sourceFileId": "@body('Get_file_properties_2')?['{Identifier}']",
                              "parameters/destinationDataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                              "parameters/destinationFolderPath": "/Shared Documents/@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                              "parameters/nameConflictBehavior": 1
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "CopyFileAsync",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "runAfter": {
                            "Get_file_properties_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "96495866-29a1-450b-b518-7f5eabe2b467"
                          }
                        },
                        "Get_file_properties_2": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "table": "7fc4eadb-b205-4e0e-aea9-4801091e7e0c",
                              "id": "@body('Get_item')?['TransitionLibraryID']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileItem",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "3cfbd768-ace8-45c0-a43a-9de798b010c0"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Te_Ikaroa_-_Central_-_Grant_Permissions_-_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8c02f74a-08a7-40a7-bf7d-610c9b3d4b5e"
                      }
                    },
                    "Condition_2-copy": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Authoriser']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Te_Ikaroa_-_Central_-_Get_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Authoriser']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "c8e7f5de-5bc8-4498-b7a4-5d2c76ee6927"
                          }
                        },
                        "Te_Ikaroa_-_Central_-_Grant_Permissions_-_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Ikaroa_-_Central')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Ikaroa_-_Central_-_Get_Authoriser')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Te_Ikaroa_-_Central_-_Get_Authoriser": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a42d4721-868c-4b5d-b98c-e778ecb08a44"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Te_Ikaroa_-_Central_-_Break_Inheritance": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1804938b-005b-4234-b230-e6de3d5c5772"
                      }
                    },
                    "Condition_3-copy": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Facilitator']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Te_Ikaroa_-_Central_-_Get_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Facilitator']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "ec6a9c4d-fa01-4569-ba8c-36ea31b298d3"
                          }
                        },
                        "Te_Ikaroa_-_Central_-_Grant_Permissions_-_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000660",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Ikaroa_-_Central')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Ikaroa_-_Central_-_Get_Facilitator')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Te_Ikaroa_-_Central_-_Get_Facilitator": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "3a811bf1-d0d0-4e44-87d3-5e76373713c9"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Condition_2-copy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "12cdcc03-c662-4971-916d-82c1886d9de3"
                      }
                    }
                  },
                  "case": "Te Ikaroa - Central"
                },
                "Case_-_Te_Manawa_Taki": {
                  "actions": {
                    "Create_new_document_set_-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                          "parameters/contentTypeId": "0x0120D52000E9D2BB1F78631F4490430EDCE6D2BBB000D45DF958BDBE794A988310D3F1F60027",
                          "parameters/DynamicProperties/Status/Value": "01 In Development",
                          "parameters/DynamicProperties/HNZOwner/Claims": "@body('Get_item')?['Owner']?['Claims']",
                          "parameters/DynamicProperties/NationalID": "@body('Get_item')?['NationalID']",
                          "parameters/DynamicProperties/Authoriser/Claims": "@body('Get_item')?['Authoriser']?['Claims']",
                          "parameters/DynamicProperties/Facilitator/Claims": "@body('Get_item')?['Facilitator']?['Claims']",
                          "parameters/DynamicProperties/ExternalSourceName": "@body('Get_item')?['ExternalSourceName']",
                          "parameters/DynamicProperties/Facility": "@body('Get_item')?['Facility']",
                          "parameters/DynamicProperties/RegisterID": "@body('Get_item')?['ID']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewDocumentSet",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "b47d3d95-6e96-4a67-a964-3537a73ae6df"
                      }
                    },
                    "Update_Document_Set_metadata_-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "id": "@body('Create_new_document_set_-_Te_Manawa_Taki')?['ID']",
                          "item/Appliesto/Value": "@body('Get_item')?['Appliesto']?['Value']",
                          "item/HNZRegion": [
                            {
                              "Value": "@body('Get_item')?['HNZRegion']?['Value']"
                            }
                          ],
                          "item/HNZLocalArea": [
                            {
                              "Value": "@body('Get_item')?['Local_x0020_Area']?['Value']"
                            }
                          ],
                          "item/HNZDocumentType/Value": "@body('Get_item')?['Document_x0020_Type']?['Value']",
                          "item/HNZBusinessUnit/Value": "@body('Get_item')?['HNZBusinessUnit']?['Value']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchFileItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Create_new_document_set_-_Te_Manawa_Taki": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "46e024ba-75e4-4ce3-a384-3e5b15089e4c"
                      }
                    },
                    "Update_item_in_Register__-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                          "table": "e0df1008-187e-45ce-b28f-c806a15003bc",
                          "id": "@body('Get_item')?['ID']",
                          "item/Title": "@body('Get_item')?['Title']",
                          "item/Link_x0020_to_x0020_Working_x002": "@body('Create_new_document_set_-_Te_Manawa_Taki')?['{Link}']",
                          "item/Status/Value": "New Document",
                          "item/Work_x0020_Area_x0020_Created": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Condition_7": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07cd5518-9d12-44e4-a98a-1ff76f7798da"
                      }
                    },
                    "Te_Manawa_Taki_-_Break_Inheritance": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Manawa_Taki')?['ID']})/breakroleinheritance(copyRoleAssignments=false,clearSubscopes=true)\n"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_Document_Set_metadata_-_Te_Manawa_Taki": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b22f7010-0d35-481f-ba21-dbccd305595e"
                      }
                    },
                    "Te_Manawa_Taki_-_Get_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Owner']?['Email']}')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Condition_3-copy_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c2263ce1-65f5-4ff3-8f17-362b270fa25a"
                      }
                    },
                    "Te_Manawa_Taki_-_Grant_Permissions_-_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Manawa_Taki')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Manawa_Taki_-_Get_Owner')['d']['id']}, roleDefId =1073741830)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Te_Manawa_Taki_-_Get_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b979890d-bbb8-4d40-a174-cd85fef82474"
                      }
                    },
                    "Create_Folder_'Correspondence'_-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Implementation'_-_Te_Manawa_Taki": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "dbb86f6b-a1a8-44db-baad-19c1fc459a59"
                      }
                    },
                    "Create_Folder_'Consultation'_-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Consultation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Correspondence'_-_Te_Manawa_Taki": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e39cb0eb-c981-4e8e-aee9-a8b40782de60"
                      }
                    },
                    "Create_Folder_'Authorisations'_-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Authorisations"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Consultation'_-_Te_Manawa_Taki": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "eb179052-01db-4f88-916b-b0e142c06fc3"
                      }
                    },
                    "Create_Folder_'Feedback'_-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Feedback"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Authorisations'_-_Te_Manawa_Taki": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c8feadfd-7a13-4f7f-bf08-57b4fa6b0083"
                      }
                    },
                    "Create_Folder_'Implementation'_-_Te_Manawa_Taki": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Implementation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_item_in_Register__-_Te_Manawa_Taki": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "166e114d-e58d-411a-9c37-0cca799c01f8"
                      }
                    },
                    "Condition_7": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['TransitionLibraryID']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Copy_file_3": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "parameters/sourceFileId": "@body('Get_file_properties_3')?['{Identifier}']",
                              "parameters/destinationDataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                              "parameters/destinationFolderPath": "/Shared Documents/@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                              "parameters/nameConflictBehavior": 1
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "CopyFileAsync",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "runAfter": {
                            "Get_file_properties_3": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "56ef771d-e69e-4d24-b076-a2245ff861ed"
                          }
                        },
                        "Get_file_properties_3": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "table": "e70be06f-7be5-4f2d-b4c6-59a51c676a49",
                              "id": "@body('Get_item')?['TransitionLibraryID']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileItem",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "6366dbad-acf8-463b-865e-3b582db137e3"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Te_Manawa_Taki_-_Grant_Permissions_-_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "92f39e0e-f6fa-4dcd-8578-aa28425877aa"
                      }
                    },
                    "Condition_2-copy_1": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Authoriser']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Te_Manawa_Taki_-_Get_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Authoriser']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "b29fa03f-40c9-4991-bdbf-4c49c52a72c3"
                          }
                        },
                        "Te_Manawa_Taki_-_Grant_Permissions_-_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Manawa_Taki')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Manawa_Taki_-_Get_Authoriser')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Te_Manawa_Taki_-_Get_Authoriser": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "45666e44-0f8c-40f8-88c3-b3b6c7dba2bd"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Te_Manawa_Taki_-_Break_Inheritance": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "14877bdb-6d87-4d62-a1ca-d1bbc5fdb871"
                      }
                    },
                    "Condition_3-copy_1": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Facilitator']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Te_Manawa_Taki_-_Get_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Facilitator']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "4e2254e3-e251-42a7-a67e-9bd07bf28019"
                          }
                        },
                        "Te_Manawa_Taki_-_Grant_Permissions_-_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000661",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Manawa_Taki')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Manawa_Taki_-_Get_Facilitator')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Te_Manawa_Taki_-_Get_Facilitator": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ea5258c5-2b87-49bf-a420-f20db9961612"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Condition_2-copy_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6c921c03-b831-4fa1-a663-dedd7910e8b1"
                      }
                    }
                  },
                  "case": "Te Manawa Taki"
                },
                "Case__-_Te_Waipounamu_-_South_Island": {
                  "actions": {
                    "Create_new_document_set_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                          "parameters/contentTypeId": "0x0120D52000E9D2BB1F78631F4490430EDCE6D2BBB0006836CBDB00D4EB46A8F003A3B5EFC4F3",
                          "parameters/DynamicProperties/Status/Value": "01 In Development",
                          "parameters/DynamicProperties/HNZOwner/Claims": "@body('Get_item')?['Owner']?['Claims']",
                          "parameters/DynamicProperties/NationalID": "@body('Get_item')?['NationalID']",
                          "parameters/DynamicProperties/Authoriser/Claims": "@body('Get_item')?['Authoriser']?['Claims']",
                          "parameters/DynamicProperties/Facilitator/Claims": "@body('Get_item')?['Facilitator']?['Claims']",
                          "parameters/DynamicProperties/ExternalSourceName": "@body('Get_item')?['ExternalSourceName']",
                          "parameters/DynamicProperties/Facility": "@body('Get_item')?['Facility']",
                          "parameters/DynamicProperties/RegisterID": "@body('Get_item')?['ID']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewDocumentSet",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "c385351f-b36d-44f5-8b84-d5b8db50610b"
                      }
                    },
                    "Update_Document_Set_Metadata_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "id": "@body('Create_new_document_set_-_Te_Waipounamu')?['ID']",
                          "item/HNZRegion": [
                            {
                              "Value": "@body('Get_item')?['HNZRegion']?['Value']"
                            }
                          ],
                          "item/HNZLocalArea": [
                            {
                              "Value": "@body('Get_item')?['Local_x0020_Area']?['Value']"
                            }
                          ],
                          "item/HNZDocumentType/Value": "@body('Create_new_document_set_-_Te_Waipounamu')?['HNZDocumentType']?['Value']",
                          "item/HNZBusinessUnit/Value": "@body('Create_new_document_set_-_Te_Waipounamu')?['HNZBusinessUnit']?['Value']",
                          "item/Appliesto/Value": "@body('Get_item')?['Appliesto']?['Value']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchFileItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Create_new_document_set_-_Te_Waipounamu": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "eebdfbb2-d349-45b4-811e-5a1d61c222b4"
                      }
                    },
                    "Update_item_in_Register_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                          "table": "e0df1008-187e-45ce-b28f-c806a15003bc",
                          "id": "@body('Get_item')?['ID']",
                          "item/Title": "@body('Get_item')?['Title']",
                          "item/Link_x0020_to_x0020_Working_x002": "@body('Create_new_document_set_-_Te_Waipounamu')?['{Link}']",
                          "item/Status/Value": "New Document",
                          "item/Work_x0020_Area_x0020_Created": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchItem",
                          "connectionName": "shared_sharepointonline-3"
                        }
                      },
                      "runAfter": {
                        "Condition_8": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07cd5518-9d12-44e4-a98a-1ff76f7798da"
                      }
                    },
                    "Te_Waipounamu_-_Break_Inheritance": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Waipounamu')?['ID']})/breakroleinheritance(copyRoleAssignments=false,clearSubscopes=true)\n"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_Document_Set_Metadata_-_Te_Waipounamu": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "68e8b39a-5d0a-4134-8b49-2d33deb90c0a"
                      }
                    },
                    "Te_Waipounamu_-_Get_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Owner']?['Email']}')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Condition_3-copy_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4d3233d3-51fa-4db9-8eb6-9fb671fc2c49"
                      }
                    },
                    "Te_Waipounamu_-_Grant_Permissions_-_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Waipounamu')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Waipounamu_-_Get_Owner')['d']['id']}, roleDefId =1073741830)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Te_Waipounamu_-_Get_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d60bde70-da32-4d47-9b6f-1ab9a7f8d2fe"
                      }
                    },
                    "Create_Folder_'Correspondence'_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Implementation'_-_Te_Waipounamu": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ee01545c-2dec-43ae-b5cf-80f3146414c5"
                      }
                    },
                    "Create_Folder_'Consultation'_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Consultation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Correspondence'_-_Te_Waipounamu": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "023ba055-86e5-41ea-ae85-8ed4167a9a3b"
                      }
                    },
                    "Create_Folder_'Authorisations'_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Authorisations"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Consultation'_-_Te_Waipounamu": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d1e752a0-c736-494e-9e45-3c9bc5dbea95"
                      }
                    },
                    "Create_Folder_'Feedback'_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Correspondence/Feedback"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Create_Folder_'Authorisations'_-_Te_Waipounamu": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "16206cb3-4996-48cd-940c-e9f9421f75eb"
                      }
                    },
                    "Create_Folder_'Implementation'_-_Te_Waipounamu": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                          "table": "2d6d4a07-1b06-48a8-84c2-91a681d8c046",
                          "parameters/path": "@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}/Implementation"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateNewFolder",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "runAfter": {
                        "Update_item_in_Register_-_Te_Waipounamu": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f2e1f2c7-6ccb-4b89-b36c-5dc480bda1d0"
                      }
                    },
                    "Condition_8": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['TransitionLibraryID']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Copy_file_4": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "parameters/sourceFileId": "@body('Get_file_properties_4')?['{Identifier}']",
                              "parameters/destinationDataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                              "parameters/destinationFolderPath": "/Shared Documents/@{body('Get_item')?['Title']} - @{body('Get_item')?['ID']}",
                              "parameters/nameConflictBehavior": 1
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "CopyFileAsync",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "runAfter": {
                            "Get_file_properties_4": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0742b4e6-3614-4b88-8609-3d99307e4b23"
                          }
                        },
                        "Get_file_properties_4": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000577",
                              "table": "dba61202-d31b-43cf-bdad-2a9dded5d4a5",
                              "id": "@body('Get_item')?['TransitionLibraryID']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileItem",
                              "connectionName": "shared_sharepointonline-2"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "0203b294-79d4-4607-bdd2-f146de950138"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Te_Waipounamu_-_Grant_Permissions_-_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f90bb541-970d-419f-b433-6b2f1893072d"
                      }
                    },
                    "Condition_2-copy_2": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Authoriser']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Te_Waipounamu_-_Get_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Authoriser']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "1ee8c693-3a25-4dc6-af8d-1c691f3017f1"
                          }
                        },
                        "Te_Waipounamu_-_Grant_Permissions_-_Authoriser": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Waipounamu')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Waipounamu_-_Get_Authoriser')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Te_Waipounamu_-_Get_Authoriser": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f363d9c6-c797-46b6-a048-f5e6cee4f6b8"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Te_Waipounamu_-_Break_Inheritance": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2e01d53a-8fda-41cc-b62a-cb3014cd8211"
                      }
                    },
                    "Condition_3-copy_2": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Get_item')?['Facilitator']?['Email']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Te_Waipounamu_-_Get_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/SiteUsers/getByEmail('@{body('Get_item')?['Facilitator']?['Email']}')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "384925ee-8e63-442a-b6ef-96063bc5a798"
                          }
                        },
                        "Te_Waipounamu_-_Grant_Permissions_-_Facilitator": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://hauoraaotearoa.sharepoint.com/sites/1000662",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/lists/getByTitle('Documents')/items(@{body('Create_new_document_set_-_Te_Waipounamu')?['ID']})/roleassignments/addroleassignment(principalid = @{body('Te_Waipounamu_-_Get_Facilitator')['d']['id']}, roleDefId =1073741830)"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "runAfter": {
                            "Te_Waipounamu_-_Get_Facilitator": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "82e46bd3-51ea-4452-9db1-8f8ec3c6dd80"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Condition_2-copy_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3684163a-a3e4-4401-87d8-2ba6ff947d48"
                      }
                    }
                  },
                  "case": "Te Waipounamu - South Island"
                }
              },
              "runAfter": {
                "Set_variable_-_Local_Area": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d88df3f3-086c-468a-9809-9c2275005397"
              }
            },
            "Set_variable_-_Region": {
              "type": "SetVariable",
              "inputs": {
                "name": "varRegion",
                "value": "@body('Get_item')?['HNZRegion']?['Label']"
              },
              "runAfter": {
                "Get_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3cf8f525-a667-445a-a0a2-3ef33d92676d"
              }
            },
            "Set_variable_-_Local_Area": {
              "type": "SetVariable",
              "inputs": {
                "name": "varLocalArea",
                "value": "@body('Get_item')?['Local_x0020_Area']?['Label']"
              },
              "runAfter": {
                "Set_variable_-_Region": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "437ff671-4525-4e06-a11a-0d55779ed027"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Local_Area": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ddc24068-4218-4bfc-9dd8-adb127ecf9f5"
          }
        },
        "Initialize_variable_-_Region": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varRegion",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "34c8021a-1b3f-4adf-8e62-9cfe2d68034b"
          }
        },
        "Initialize_variable_-_Local_Area": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLocalArea",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_Region": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48c46090-f871-4b28-8018-2d2c5e403a3f"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}